.headerContainer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  font-size: 25px;
  align-items: center;
}

.headerLogo {
  font-weight: bold;
  margin-left: 100px;
}
.headerItem {
  margin: 20px;
}

.headerButton {
  height: 60px;
  width: 120px;
  border: none;
  background-color: #e73539;
  border-radius: 10px;
  font-size: 20px;
  border: 1px solid black;
}

.links {
  display: flex;
  width: auto;
  align-items: center;

  margin-right: 100px;
}
.headerItem:hover {
  color: rgb(120, 139, 139);
}
.headerButton:hover {
  background-color: #cf696b;
}

@media (max-width: 768px) {
  .headerContainer {
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    align-items: center;
  }

  .headerItem,
  .headerButton {
    margin: 10px;
  }

  .headerButton {
    width: 100%;
    height: 40px;
  }
  .headerLogo,
  .links {
    margin: 0;
  }
}
