.lahjoita {
  width: 100%;
  padding-top: 10vh;
  padding-bottom: 10vh;
  height: auto;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}
.vasenPuoli,
.oikeaPuoli {
  display: flex;
  margin: 50px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.MPKuva {
  height: 300px;
}
@media (min-width: 1200px) {
  .otsikko {
    font-size: 60px;
  }
}

/* For screens narrower than or equal to 992px */
@media (max-width: 992px) {
  .otsikko {
    font-size: 30px;
  }
}

/* For screens narrower than or equal to 768px */
@media (max-width: 768px) {
  .lahjoita {
    display: flex;
    flex-direction: column;
  }
  .otsikko {
    margin-bottom: 30px;
  }
}

@media (max-width: 450px) {
}
